.table-user {
    .title {
        display: flex;
        justify-content: space-between;
    }
    .btn-group-payment-status{
        margin-right: 10px;
        color: green;
    }
    .btn-group-order-status{
        margin-right: 10px;
        .btn{
            background-color: green;
        }
    }
    .img-profile{
        height: 40px;
        width: 40px;
        object-fit: cover;
        margin: -15px 5px;
    }
    .col-name-sort{
       cursor: pointer;
    }
}
