.policy {
  width: 100%;
  &-item {
    display: flex;
    cursor: default;
    &__img {
      width: 50px;
      height: 50px;
      margin-top: 12px;
    }
    &__body {
      padding-left: 15px;
      &-title {
        @include text-title;
      }
      &-description {
        @include text-description;
        @include overflow-vertical;
        -webkit-line-clamp: 3;
      }
    }

    &:hover &__img {
      animation: $rorate 2s infinite;
    }
  }
}

.col-seperate {
  position: relative;
  &:not(:last-child):after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 68px;
    background-color: rgb(184, 187, 186);
  }
}
