$white: #fff;
$black: #000;
$hover-color: opacify(
  $color: rgb(233, 195, 195),
  $amount: 0.5,
);
$auth-text: #ccc;
$main-color: #c41f1b;
$color1: #33131d;
$color2: #3d3633;
$label-color: rgb(245, 51, 17);
$hover-banner: rgb(245, 51, 17);
$hover-link: #ffb344;
$primary-text: #333;
$second-text: #777;
$red-o: rgb(230, 42, 42);
$footer-heading: rgb(212, 203, 188);
$color-update: rgb(4, 129, 187);
// #1d0b03 : mau den
// #f51b38 : mau hong

// Columns
$columns: 12;

$font: "Saira Condensed", sans-serif;
